.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .button input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .button input[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  .onedonar-image{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 20vh;
      margin: 10px;
      margin-left: 0px;
  }